<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model
           introduced in .NET Framework 4. -->
      <service name="HostServiceForWCF.LocalServiceWrapper"
               behaviorConfiguration="LocalServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/LocalService/service"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/LocalService/service  -->
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="HostServiceForWCF.ILocalService" />
        <!-- the mex endpoint is exposed at http://localhost:8000/LocalService/service/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="LocalServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>